<!--
    ~/views/ApprovalNormalOrders.editForm1.html
-->
<!--  Small (sm) -->
<div data-layout="form" data-layout-size="sm">
    <div data-category="c1" data-container="collapsible" data-wrap="false" data-header-text="Header Information">
        <div data-container="row">
            <span data-control="label" data-field="OrderHedID">OrderHedID</span>
            <span data-control="field" data-field="OrderHedID">[OrderHedID]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="OrderDate">OrderDate</span>
            <span data-control="field" data-field="OrderDate">[OrderDate]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="CompanyID">CompanyID</span>
            <span data-control="field" data-field="CompanyID">[CompanyID]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="CustID">CustID</span>
            <span data-control="field" data-field="CustID">[CustID]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="CustomerName">CustomerName</span>
            <span data-control="field" data-field="CustomerName">[CustomerName]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="TotalAmount">TotalAmount</span>
            <span data-control="field" data-field="TotalAmount">[TotalAmount]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="Owner">Owner</span>
            <span data-control="field" data-field="Owner">[Owner]</span>
        </div>
    </div>
    <div data-container="tabset">
        <div data-container="tab" data-tab-text="Aging">
            <div data-container="column" style="width:49%">
                <div data-category="c9" data-container="collapsible" data-wrap="true" data-header-text="Summary Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="UnPaidInvoices">UnPaidInvoices</span>
                        <span data-control="field" data-field="UnPaidInvoices">[UnPaidInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="OutStandingOrders">OutStandingOrders</span>
                        <span data-control="field" data-field="OutStandingOrders">[OutStandingOrders]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="UnPostedInvoices">UnPostedInvoices</span>
                        <span data-control="field" data-field="UnPostedInvoices">[UnPostedInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="TermsExceed">TermsExceed</span>
                        <span data-control="field" data-field="TermsExceed">[TermsExceed]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="CreditLimit">CreditLimit</span>
                        <span data-control="field" data-field="CreditLimit">[CreditLimit]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Balance">Balance</span>
                        <span data-control="field" data-field="Balance">[Balance]</span>
                    </div>
                </div>
            </div>
            <div data-container="column" style="width:49%">
                <div data-category="c4" data-container="collapsible" data-wrap="true" data-header-text="Aging Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="AgeCurr">AgeCurr</span>
                        <span data-control="field" data-field="AgeCurr">[AgeCurr]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age30">Age30</span>
                        <span data-control="field" data-field="Age30">[Age30]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age60">Age60</span>
                        <span data-control="field" data-field="Age60">[Age60]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age90">Age90</span>
                        <span data-control="field" data-field="Age90">[Age90]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age120">Age120</span>
                        <span data-control="field" data-field="Age120">[Age120]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age150">Age150</span>
                        <span data-control="field" data-field="Age150">[Age150]</span>
                    </div>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Address">
            <div data-category="c3" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="CAddress1">CAddress1</span>
                    <span data-control="field" data-field="CAddress1">[CAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress2">CAddress2</span>
                    <span data-control="field" data-field="CAddress2">[CAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress3">CAddress3</span>
                    <span data-control="field" data-field="CAddress3">[CAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCity">CCity</span>
                    <span data-control="field" data-field="CCity">[CCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CState">CState</span>
                    <span data-control="field" data-field="CState">[CState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CZip">CZip</span>
                    <span data-control="field" data-field="CZip">[CZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCountry">CCountry</span>
                    <span data-control="field" data-field="CCountry">[CCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Ship Address">
            <div data-category="c5" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="SAddress1">SAddress1</span>
                    <span data-control="field" data-field="SAddress1">[SAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress2">SAddress2</span>
                    <span data-control="field" data-field="SAddress2">[SAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress3">SAddress3</span>
                    <span data-control="field" data-field="SAddress3">[SAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCity">SCity</span>
                    <span data-control="field" data-field="SCity">[SCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SState">SState</span>
                    <span data-control="field" data-field="SState">[SState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SZip">SZip</span>
                    <span data-control="field" data-field="SZip">[SZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCountry">SCountry</span>
                    <span data-control="field" data-field="SCountry">[SCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Instructions">
            <div data-category="c2" data-container="collapsible" data-wrap="true" data-header-text="Comments">
                <div data-container="row" data-columns="2">
                    <span class="app-field-group">
                        <span data-control="label" data-field="OrderComments">OrderComments</span>
                        <span data-control="field" data-field="OrderComments">[OrderComments]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="PromotionRemarks">PromotionRemarks</span>
                        <span data-control="field" data-field="PromotionRemarks">[PromotionRemarks]</span>
                    </span>
                </div>
                <div data-container="row" data-columns="2">
                    <span class="app-field-group">
                        <span data-control="label" data-field="InternalRemarks">InternalRemarks</span>
                        <span data-control="field" data-field="InternalRemarks">[InternalRemarks]</span>
                    </span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Audit">
            <div data-category="c6" data-container="collapsible" data-wrap="false" data-header-text="Audit">
                <div data-container="row">
                    <span data-control="label" data-field="Creator">Creator</span>
                    <span data-control="field" data-field="Creator">[Creator]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CreatedOn">CreatedOn</span>
                    <span data-control="field" data-field="CreatedOn">[CreatedOn]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="ModifiedBy">ModifiedBy</span>
                    <span data-control="field" data-field="ModifiedBy">[ModifiedBy]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="ModifiedOn">ModifiedOn</span>
                    <span data-control="field" data-field="ModifiedOn">[ModifiedOn]</span>
                </div>
            </div>
        </div>
    </div>
    <div data-category="c7" data-container="collapsible" data-wrap="false" data-header-text="Details">
        <div data-container="row">
            <span data-control="dataview" data-field="OrderDtl">[OrderDtl]</span>
        </div>
    </div>
    <div data-category="c8" data-container="collapsible" data-wrap="false" data-header-text="Reject Reasons">
        <div data-container="row">
            <span data-control="label" data-field="RejectedReason">RejectedReason</span>
            <span data-control="field" data-field="RejectedReason">[RejectedReason]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="RejectedRemarks">RejectedRemarks</span>
            <span data-control="field" data-field="RejectedRemarks">[RejectedRemarks]</span>
        </div>
    </div>
</div>

<!--  Medium (md) -->
<div data-layout="form" data-layout-size="md">
    <div data-category="c1" data-container="collapsible" data-wrap="false" data-header-text="Header Information">
        <div data-container="row" data-columns="2">
            <span data-control="label" data-field="OrderHedID">OrderHedID</span>
            <span data-control="field" data-field="OrderHedID">[OrderHedID]</span>
            <span data-control="label" data-field="CustomerName">CustomerName</span>
            <span data-control="field" data-field="CustomerName">[CustomerName]</span>
        </div>
        <div data-container="row" data-columns="2">
            <span data-control="label" data-field="OrderDate">OrderDate</span>
            <span data-control="field" data-field="OrderDate">[OrderDate]</span>
            <span data-control="label" data-field="TotalAmount">TotalAmount</span>
            <span data-control="field" data-field="TotalAmount">[TotalAmount]</span>
        </div>
        <div data-container="row" data-columns="2">
            <span data-control="label" data-field="CompanyID">CompanyID</span>
            <span data-control="field" data-field="CompanyID">[CompanyID]</span>
            <span data-control="label" data-field="Owner">Owner</span>
            <span data-control="field" data-field="Owner">[Owner]</span>
        </div>
        <div data-container="row" data-columns="2">
            <span data-control="label" data-field="CustID">CustID</span>
            <span data-control="field" data-field="CustID">[CustID]</span>
        </div>
    </div>
    <div data-container="tabset">
        <div data-container="tab" data-tab-text="Aging">
            <div data-container="column" style="width:49%">
                <div data-category="c9" data-container="collapsible" data-wrap="true" data-header-text="Summary Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="UnPaidInvoices">UnPaidInvoices</span>
                        <span data-control="field" data-field="UnPaidInvoices">[UnPaidInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="OutStandingOrders">OutStandingOrders</span>
                        <span data-control="field" data-field="OutStandingOrders">[OutStandingOrders]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="UnPostedInvoices">UnPostedInvoices</span>
                        <span data-control="field" data-field="UnPostedInvoices">[UnPostedInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="TermsExceed">TermsExceed</span>
                        <span data-control="field" data-field="TermsExceed">[TermsExceed]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="CreditLimit">CreditLimit</span>
                        <span data-control="field" data-field="CreditLimit">[CreditLimit]</span>
                    </div>
                    <div data-container="row" style="background-color:red">
                        <span data-control="label" data-field="Balance">Balance</span>
                        <span data-control="field" data-field="Balance">[Balance]</span>
                    </div>
                </div>
            </div>
            <div data-container="column" style="width:49%">
                <div data-category="c4" data-container="collapsible" data-wrap="true" data-header-text="Aging Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="AgeCurr">AgeCurr</span>
                        <span data-control="field" data-field="AgeCurr">[AgeCurr]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age30">Age30</span>
                        <span data-control="field" data-field="Age30">[Age30]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age60">Age60</span>
                        <span data-control="field" data-field="Age60">[Age60]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age90">Age90</span>
                        <span data-control="field" data-field="Age90">[Age90]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age120">Age120</span>
                        <span data-control="field" data-field="Age120">[Age120]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age150">Age150</span>
                        <span data-control="field" data-field="Age150">[Age150]</span>
                    </div>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Address">
            <div data-category="c3" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="CAddress1">CAddress1</span>
                    <span data-control="field" data-field="CAddress1">[CAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress2">CAddress2</span>
                    <span data-control="field" data-field="CAddress2">[CAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress3">CAddress3</span>
                    <span data-control="field" data-field="CAddress3">[CAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCity">CCity</span>
                    <span data-control="field" data-field="CCity">[CCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CState">CState</span>
                    <span data-control="field" data-field="CState">[CState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CZip">CZip</span>
                    <span data-control="field" data-field="CZip">[CZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCountry">CCountry</span>
                    <span data-control="field" data-field="CCountry">[CCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Ship Address">
            <div data-category="c5" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="SAddress1">SAddress1</span>
                    <span data-control="field" data-field="SAddress1">[SAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress2">SAddress2</span>
                    <span data-control="field" data-field="SAddress2">[SAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress3">SAddress3</span>
                    <span data-control="field" data-field="SAddress3">[SAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCity">SCity</span>
                    <span data-control="field" data-field="SCity">[SCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SState">SState</span>
                    <span data-control="field" data-field="SState">[SState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SZip">SZip</span>
                    <span data-control="field" data-field="SZip">[SZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCountry">SCountry</span>
                    <span data-control="field" data-field="SCountry">[SCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Instructions">
            <div data-category="c2" data-container="collapsible" data-wrap="true" data-header-text="Comments">
                <div data-container="row" data-columns="3">
                    <span class="app-field-group">
                        <span data-control="label" data-field="OrderComments">OrderComments</span>
                        <span data-control="field" data-field="OrderComments">[OrderComments]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="InternalRemarks">InternalRemarks</span>
                        <span data-control="field" data-field="InternalRemarks">[InternalRemarks]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="PromotionRemarks">PromotionRemarks</span>
                        <span data-control="field" data-field="PromotionRemarks">[PromotionRemarks]</span>
                    </span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Audit">
            <div data-category="c6" data-container="collapsible" data-wrap="false" data-header-text="Audit">
                <div data-container="row" data-columns="2">
                    <span data-control="label" data-field="Creator">Creator</span>
                    <span data-control="field" data-field="Creator">[Creator]</span>
                    <span data-control="label" data-field="ModifiedBy">ModifiedBy</span>
                    <span data-control="field" data-field="ModifiedBy">[ModifiedBy]</span>
                </div>
                <div data-container="row" data-columns="2">
                    <span data-control="label" data-field="CreatedOn">CreatedOn</span>
                    <span data-control="field" data-field="CreatedOn">[CreatedOn]</span>
                    <span data-control="label" data-field="ModifiedOn">ModifiedOn</span>
                    <span data-control="field" data-field="ModifiedOn">[ModifiedOn]</span>
                </div>
            </div>
        </div>
    </div>
    <div data-category="c7" data-container="collapsible" data-wrap="false" data-header-text="Details">
        <div data-container="row">
            <span data-control="dataview" data-field="OrderDtl">[OrderDtl]</span>
        </div>
    </div>
    <div data-category="c8" data-container="collapsible" data-wrap="false" data-header-text="Reject Reasons">
        <div data-container="row">
            <span data-control="label" data-field="RejectedReason">RejectedReason</span>
            <span data-control="field" data-field="RejectedReason">[RejectedReason]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="RejectedRemarks">RejectedRemarks</span>
            <span data-control="field" data-field="RejectedRemarks">[RejectedRemarks]</span>
        </div>
    </div>
</div>

<!--  Large (lg) -->
<div data-layout="form" data-layout-size="lg">
    <div data-category="c1" data-container="collapsible" data-wrap="false" data-header-text="Header Information">
        <div data-container="row" data-columns="3">
            <span data-control="label" data-field="OrderHedID">OrderHedID</span>
            <span data-control="field" data-field="OrderHedID">[OrderHedID]</span>
            <span data-control="label" data-field="CustID">CustID</span>
            <span data-control="field" data-field="CustID">[CustID]</span>
            <span data-control="label" data-field="Owner">Owner</span>
            <span data-control="field" data-field="Owner">[Owner]</span>
        </div>
        <div data-container="row" data-columns="3">
            <span data-control="label" data-field="OrderDate">OrderDate</span>
            <span data-control="field" data-field="OrderDate">[OrderDate]</span>
            <span data-control="label" data-field="CustomerName">CustomerName</span>
            <span data-control="field" data-field="CustomerName">[CustomerName]</span>
        </div>
        <div data-container="row" data-columns="3">
            <span data-control="label" data-field="CompanyID">CompanyID</span>
            <span data-control="field" data-field="CompanyID">[CompanyID]</span>
            <span data-control="label" data-field="TotalAmount">TotalAmount</span>
            <span data-control="field" data-field="TotalAmount">[TotalAmount]</span>
        </div>
    </div>
    <div data-container="tabset">
        <div data-container="tab" data-tab-text="Aging">
            <div data-container="column" style="width:49%">
                <div data-category="c9" data-container="collapsible" data-wrap="false" data-header-text="Summary Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="UnPaidInvoices">UnPaidInvoices</span>
                        <span data-control="field" data-field="UnPaidInvoices">[UnPaidInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="OutStandingOrders">OutStandingOrders</span>
                        <span data-control="field" data-field="OutStandingOrders">[OutStandingOrders]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="UnPostedInvoices">UnPostedInvoices</span>
                        <span data-control="field" data-field="UnPostedInvoices">[UnPostedInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="TermsExceed">TermsExceed</span>
                        <span data-control="field" data-field="TermsExceed">[TermsExceed]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="CreditLimit">CreditLimit</span>
                        <span data-control="field" data-field="CreditLimit">[CreditLimit]</span>
                    </div>
                    <div data-container="row" style="background-color:red">                                               
                            <span data-control="label" data-field="Balance" > Balance</span > 
                            <span data-control="field" data-field="Balance" > [Balance]</span >                            
                    </div>
                </div>
            </div>
            <div data-container="column" style="width:49%">
                <div data-category="c4" data-container="collapsible" data-wrap="false" data-header-text="Aging Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="AgeCurr">AgeCurr</span>
                        <span data-control="field" data-field="AgeCurr">[AgeCurr]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age30">Age30</span>
                        <span data-control="field" data-field="Age30">[Age30]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age60">Age60</span>
                        <span data-control="field" data-field="Age60">[Age60]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age90">Age90</span>
                        <span data-control="field" data-field="Age90">[Age90]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age120">Age120</span>
                        <span data-control="field" data-field="Age120">[Age120]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age150">Age150</span>
                        <span data-control="field" data-field="Age150">[Age150]</span>
                    </div>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Address">
            <div data-category="c3" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="CAddress1">CAddress1</span>
                    <span data-control="field" data-field="CAddress1">[CAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress2">CAddress2</span>
                    <span data-control="field" data-field="CAddress2">[CAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress3">CAddress3</span>
                    <span data-control="field" data-field="CAddress3">[CAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCity">CCity</span>
                    <span data-control="field" data-field="CCity">[CCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CState">CState</span>
                    <span data-control="field" data-field="CState">[CState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CZip">CZip</span>
                    <span data-control="field" data-field="CZip">[CZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCountry">CCountry</span>
                    <span data-control="field" data-field="CCountry">[CCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Ship Address">
            <div data-category="c5" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="SAddress1">SAddress1</span>
                    <span data-control="field" data-field="SAddress1">[SAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress2">SAddress2</span>
                    <span data-control="field" data-field="SAddress2">[SAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress3">SAddress3</span>
                    <span data-control="field" data-field="SAddress3">[SAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCity">SCity</span>
                    <span data-control="field" data-field="SCity">[SCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SState">SState</span>
                    <span data-control="field" data-field="SState">[SState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SZip">SZip</span>
                    <span data-control="field" data-field="SZip">[SZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCountry">SCountry</span>
                    <span data-control="field" data-field="SCountry">[SCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Instructions">
            <div data-category="c2" data-container="collapsible" data-wrap="true" data-header-text="Comments">
                <div data-container="row" data-columns="3">
                    <span class="app-field-group">
                        <span data-control="label" data-field="OrderComments">OrderComments</span>
                        <span data-control="field" data-field="OrderComments">[OrderComments]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="InternalRemarks">InternalRemarks</span>
                        <span data-control="field" data-field="InternalRemarks">[InternalRemarks]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="PromotionRemarks">PromotionRemarks</span>
                        <span data-control="field" data-field="PromotionRemarks">[PromotionRemarks]</span>
                    </span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Audit">
            <div data-category="c6" data-container="collapsible" data-wrap="false" data-header-text="Audit">
                <div data-container="row" data-columns="3">
                    <span data-control="label" data-field="Creator">Creator</span>
                    <span data-control="field" data-field="Creator">[Creator]</span>
                    <span data-control="label" data-field="ModifiedBy">ModifiedBy</span>
                    <span data-control="field" data-field="ModifiedBy">[ModifiedBy]</span>
                </div>
                <div data-container="row" data-columns="3">
                    <span data-control="label" data-field="CreatedOn">CreatedOn</span>
                    <span data-control="field" data-field="CreatedOn">[CreatedOn]</span>
                    <span data-control="label" data-field="ModifiedOn">ModifiedOn</span>
                    <span data-control="field" data-field="ModifiedOn">[ModifiedOn]</span>
                </div>
            </div>
        </div>
    </div>
    <div data-category="c7" data-container="collapsible" data-wrap="false" data-header-text="Details">
        <div data-container="row">
            <span data-control="dataview" data-field="OrderDtl">[OrderDtl]</span>
        </div>
    </div>
    <div data-category="c8" data-container="collapsible" data-wrap="false" data-header-text="Reject Reasons">
        <div data-container="row">
            <span data-control="label" data-field="RejectedReason">RejectedReason</span>
            <span data-control="field" data-field="RejectedReason">[RejectedReason]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="RejectedRemarks">RejectedRemarks</span>
            <span data-control="field" data-field="RejectedRemarks">[RejectedRemarks]</span>
        </div>
    </div>
</div>

<!--  Extra Large (xl) -->
<div data-layout="form" data-layout-size="xl">
    <div data-category="c1" data-container="collapsible" data-wrap="false" data-header-text="Header Information">
        <div data-container="row" data-columns="3">
            <span data-control="label" data-field="OrderHedID">OrderHedID</span>
            <span data-control="field" data-field="OrderHedID">[OrderHedID]</span>
            <span data-control="label" data-field="CustID">CustID</span>
            <span data-control="field" data-field="CustID">[CustID]</span>
            <span data-control="label" data-field="Owner">Owner</span>
            <span data-control="field" data-field="Owner">[Owner]</span>
        </div>
        <div data-container="row" data-columns="3">
            <span data-control="label" data-field="OrderDate">OrderDate</span>
            <span data-control="field" data-field="OrderDate">[OrderDate]</span>
            <span data-control="label" data-field="CustomerName">CustomerName</span>
            <span data-control="field" data-field="CustomerName">[CustomerName]</span>
        </div>
        <div data-container="row" data-columns="3">
            <span data-control="label" data-field="CompanyID">CompanyID</span>
            <span data-control="field" data-field="CompanyID">[CompanyID]</span>
            <span data-control="label" data-field="TotalAmount">TotalAmount</span>
            <span data-control="field" data-field="TotalAmount">[TotalAmount]</span>
        </div>
    </div>
    <div data-container="tabset">
        <div data-container="tab" data-tab-text="Aging">
            <div data-container="column" style="width:49%">
                <div data-category="c9" data-container="collapsible" data-wrap="false" data-header-text="Summary Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="UnPaidInvoices">UnPaidInvoices</span>
                        <span data-control="field" data-field="UnPaidInvoices">[UnPaidInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="OutStandingOrders">OutStandingOrders</span>
                        <span data-control="field" data-field="OutStandingOrders">[OutStandingOrders]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="UnPostedInvoices">UnPostedInvoices</span>
                        <span data-control="field" data-field="UnPostedInvoices">[UnPostedInvoices]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="TermsExceed">TermsExceed</span>
                        <span data-control="field" data-field="TermsExceed">[TermsExceed]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="CreditLimit">CreditLimit</span>
                        <span data-control="field" data-field="CreditLimit">[CreditLimit]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Balance">Balance</span>
                        <span data-control="field" data-field="Balance">[Balance]</span>
                    </div>
                </div>
            </div>
            <div data-container="column" style="width:49%">
                <div data-category="c4" data-container="collapsible" data-wrap="false" data-header-text="Aging Balance">
                    <div data-container="row">
                        <span data-control="label" data-field="AgeCurr">AgeCurr</span>
                        <span data-control="field" data-field="AgeCurr">[AgeCurr]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age30">Age30</span>
                        <span data-control="field" data-field="Age30">[Age30]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age60">Age60</span>
                        <span data-control="field" data-field="Age60">[Age60]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age90">Age90</span>
                        <span data-control="field" data-field="Age90">[Age90]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age120">Age120</span>
                        <span data-control="field" data-field="Age120">[Age120]</span>
                    </div>
                    <div data-container="row">
                        <span data-control="label" data-field="Age150">Age150</span>
                        <span data-control="field" data-field="Age150">[Age150]</span>
                    </div>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Address">
            <div data-category="c3" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="CAddress1">CAddress1</span>
                    <span data-control="field" data-field="CAddress1">[CAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress2">CAddress2</span>
                    <span data-control="field" data-field="CAddress2">[CAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CAddress3">CAddress3</span>
                    <span data-control="field" data-field="CAddress3">[CAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCity">CCity</span>
                    <span data-control="field" data-field="CCity">[CCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CState">CState</span>
                    <span data-control="field" data-field="CState">[CState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CZip">CZip</span>
                    <span data-control="field" data-field="CZip">[CZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="CCountry">CCountry</span>
                    <span data-control="field" data-field="CCountry">[CCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Ship Address">
            <div data-category="c5" data-container="collapsible" data-wrap="false" data-header-text="none">
                <div data-container="row">
                    <span data-control="label" data-field="SAddress1">SAddress1</span>
                    <span data-control="field" data-field="SAddress1">[SAddress1]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress2">SAddress2</span>
                    <span data-control="field" data-field="SAddress2">[SAddress2]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SAddress3">SAddress3</span>
                    <span data-control="field" data-field="SAddress3">[SAddress3]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCity">SCity</span>
                    <span data-control="field" data-field="SCity">[SCity]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SState">SState</span>
                    <span data-control="field" data-field="SState">[SState]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SZip">SZip</span>
                    <span data-control="field" data-field="SZip">[SZip]</span>
                </div>
                <div data-container="row">
                    <span data-control="label" data-field="SCountry">SCountry</span>
                    <span data-control="field" data-field="SCountry">[SCountry]</span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Instructions">
            <div data-category="c2" data-container="collapsible" data-wrap="true" data-header-text="Comments">
                <div data-container="row" data-columns="3">
                    <span class="app-field-group">
                        <span data-control="label" data-field="OrderComments">OrderComments</span>
                        <span data-control="field" data-field="OrderComments">[OrderComments]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="InternalRemarks">InternalRemarks</span>
                        <span data-control="field" data-field="InternalRemarks">[InternalRemarks]</span>
                    </span>
                    <span class="app-field-group">
                        <span data-control="label" data-field="PromotionRemarks">PromotionRemarks</span>
                        <span data-control="field" data-field="PromotionRemarks">[PromotionRemarks]</span>
                    </span>
                </div>
            </div>
        </div>
        <div data-container="tab" data-tab-text="Audit">
            <div data-category="c6" data-container="collapsible" data-wrap="false" data-header-text="Audit">
                <div data-container="row" data-columns="3">
                    <span data-control="label" data-field="Creator">Creator</span>
                    <span data-control="field" data-field="Creator">[Creator]</span>
                    <span data-control="label" data-field="ModifiedBy">ModifiedBy</span>
                    <span data-control="field" data-field="ModifiedBy">[ModifiedBy]</span>
                </div>
                <div data-container="row" data-columns="3">
                    <span data-control="label" data-field="CreatedOn">CreatedOn</span>
                    <span data-control="field" data-field="CreatedOn">[CreatedOn]</span>
                    <span data-control="label" data-field="ModifiedOn">ModifiedOn</span>
                    <span data-control="field" data-field="ModifiedOn">[ModifiedOn]</span>
                </div>
            </div>
        </div>
    </div>
    <div data-category="c7" data-container="collapsible" data-wrap="false" data-header-text="Details">
        <div data-container="row">
            <span data-control="dataview" data-field="OrderDtl">[OrderDtl]</span>
        </div>
    </div>
    <div data-category="c8" data-container="collapsible" data-wrap="false" data-header-text="Reject Reasons">
        <div data-container="row">
            <span data-control="label" data-field="RejectedReason">RejectedReason</span>
            <span data-control="field" data-field="RejectedReason">[RejectedReason]</span>
        </div>
        <div data-container="row">
            <span data-control="label" data-field="RejectedRemarks">RejectedRemarks</span>
            <span data-control="field" data-field="RejectedRemarks">[RejectedRemarks]</span>
        </div>
    </div>
</div>
